[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.41"
ipdb = "==0.13.9"
alembic = "==1.8.1"
simple-term-menu = "*"
prettycli = "*"

[dev-packages]

[requires]
python_version = "3.8"
